<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/AspHeader.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

    <header>
        <a href="/"><img src="~/Content/Images/asp_logo_short.png" alt="Whitesquare logo"></a>
        <nav>
            <ul class="top-menu">
                <li><a>@Html.ActionLink("Главная", "Index", "Home")</a></li>
                <li><a>@Html.ActionLink("Данные в базе данных", "Index", "DatabaseResults")</a></li>
                <li><a>@Html.ActionLink("Графики", "Index", "Graphics")</a></li>
                <li><a>@Html.ActionLink("Конфигурирование", "Index", "Configurations")</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()
</body>
</html>