@model IEnumerable<WebApplication.Models.DBContent>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>БД</title>
    @Styles.Render("~/Content/newcss")
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/otherscripts")

    <script type="text/javascript">
        $(function() {
            setInterval(function() {
            $.get('@Url.Action("AjaxDatabaseResultTableDelayed")', {}, function(view) {
                $("div#DelayedResponsesList").html(view);
                })
            }, 300);
        }); </script>    

    <script type="text/javascript">
        $(function() {
            setInterval(function() {
            $.get('@Url.Action("AjaxDatabaseResultTableCommon")', {}, function(view) {
                $("div#CommonResponsesList").html(view);
                })
            }, 300);
        }); </script>    

</head>
<body>
    <div id="wrapper">
        <div>
            <h3>Содержимое базы данных</h3>
        </div>
        <div class="container">
            <div class="box">
                
                <div class="db-ul">
                    <div id="CommonResponsesList">
                        @{Html.RenderPartial("AjaxDatabaseResultTableCommon");}
                    </div>
                </div>

                <div class="db-ul">
                    <div id="DelayedResponsesList">
                        @{Html.RenderPartial("AjaxDatabaseResultTableDelayed");}
                    </div>
                </div>

            </div>
</div>
            </div>
</body>
</html>
